#slider{
    position: relative;
    overflow: visible;
    left: -250px;
}


#slider figure{
    position: relative;
    display: flex;
    overflow: visible;
    padding: 5px;
    margin: 0;
    left: 0;
}

#slider figure img{
    height: 250px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 12px;
}

.container{
    position: fixed;
    z-index: 100;
    width: 500px;
    height: 1000px;
    right: 0;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.container h1{
    color: blue;
    font-family: 'Roboto Slab', serif;;
}

.container p{
    font-family: 'Roboto Slab', serif;;
}

.button{
    height: 20px;
    width: 20px;
    padding: 25px;
    z-index: 100;
    position: fixed;
    right: 25px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.active{
    /*border-style: solid;
    border-color: blue;*/
    box-shadow: 5px 5px rgba(0, 0, 0, 0.7);
}